{% extends "docs/objects_layout.md.njk" %}

{% block object_details %}
#### Interface

##### Inputs
{% for cons in obj.spec.consumes %}

- Message *{{namelink(cons.message)}}* from {{namelink(getReference('Message',cons.message).supported_by.service)}} ({{getReference('Message',cons.message).supported_by.topic}}){% endfor %}

##### Outputs
{% for prod in obj.spec.produces %}
- Message *{{namelink(prod.message)}}* to {{namelink(getReference('Message',prod.message).supported_by.service)}} ({{getReference('Message',prod.message).supported_by.topic}}){% endfor %}

##### Exposed APIs
{% for api in obj.spec.exposes %}
- Endpoint `{{api.api}}` ({{api.type.toUpperCase()}}){% endfor %}
{% if obj.spec.accesses %}
#### Dependencies
{% for acc in obj.spec.accesses %}
{% if acc.api %}- Use API *{{namelink(acc.api)}}* to {{acc.to}}{% endif %}
{% if acc.service %}- Use service *{{namelink(acc.service)}}* to {{acc.to}}{% endif %}{% endfor %}{% endif %}
{% if obj.spec.holds %}
#### Data responsability
{% for db in obj.spec.holds %}
- {{db.data}}{% endfor %}{% endif %}

{% endblock %}